/*
  global
*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

/*
  layout
*/

.l-wrap {
  width: 100%;
  height: 100%;
}

.l-main {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.l-header {
  width: 100%;
  height: 85px;
}

.l-mainWrap {
  width: 1080px;
  margin: 0 auto;
  @extend .cf;
}

.l-cont {
  width: 68%;
  float: left;
}

.l-side {
  width: 28%;
  float: right;
}

.l-footer {
  margin-top: 30px;
  width: 100%;
}

/*
  header
*/

.header__nav {
  width: 100%;
  height: 85px;

  .header__nav__left {
    float: left;
    padding: 27px 0;
  }

  .header__nav__right {
    float: right;
    line-height: 85px;
  }

  .header__nav__center {
    width: 140px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

/*
  front
*/

.front {
  display: table;
  width: 100%;
  height: 300px;

  .front__article {
    display: table-cell;
    width: 33.3%;
    position: relative;
    height: 100%;

    .front__article__thumnail {
      width: 100%;
      .front__article__thumnail__img {
        width: 100%;
        height: 300px;
      }
    }

    .front__article__body {
      position: absolute;
      top: 100px;
      width: 90%;
      height: 200px;
      padding: 0 5%;

      .front__article__body__title {
        position: absolute;
        top: 100px;
      }

      .front__article__body__bottoms {
        @extend .cf;
        position: absolute;
        top: 160px;

        .front__article__body__bottoms__right {
          float: right;
        }

        .front__article__body__bottoms__left {
          float: left;
        }
      }
    }
  }
}

/*
  content
*/

.pickup__list__item {
  padding: 10px 0;
  @extend .cf;

  .pickup__list__item__thumb {
    float: left;
  }

  .pickup__list__item__body {
    float: left;
    width: 500px;
    padding: 0 10px;
  }
}

/*
  side
*/

.area {
  margin-bottom: 35px;
  position: relative;

  .area__list {
    list-style: none;
    @extend .cf;

    .area__list__item {
      width: 50%;
      float: left;

      .area__list__item__cont {
        padding: 5px 0;
        display: table;

        .area__list__item__cont__thumb {
          display: table-cell;
          vertical-align: middle;
        }

        .area__list__item__cont__title {
          display: table-cell;
          vertical-align: middle;
          padding-left: 10px;
        }
      }
    }
  }
}

.tag {
  margin-bottom: 35px;

  .tag__list {
    list-style: none;
    @extend .cf;

    .tag__list__item {
      float: left;
    }
  }
}

.rank {
  margin-bottom: 35px;

  .rank__list {
    list-style: none;

    .rank__list__item {

      .rank__list__item__cont {
        display: table;
        padding: 10px 0;

        .rank__list__item__cont__thumb {
          display: table-cell;
          vertical-align: middle;
        }

        .rank__list__item__cont__title {
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
        }
      }
    }
  }
}

.feature {
  margin-bottom: 35px;

  .feature__list {
    list-style: none;

    .feature__list__item {

      .feature__list__item__cont {
        display: table;
        padding: 10px 0;

        .feature__list__item__cont__thumb {
          display: table-cell;
          vertical-align: middle;
        }

        .feature__list__item__cont__title {
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
        }
      }
    }
  }
}

.recommend {
  margin-bottom: 35px;

  .recommend__list {
    list-style: none;

    .recommend__list__item {

      .recommend__list__item__cont {
        display: table;
        padding: 10px 0;

        .recommend__list__item__cont__thumb {
          display: table-cell;
          vertical-align: middle;
        }

        .recommend__list__item__cont__title {
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
        }
      }
    }
  }
}

/*
  footer
*/

.footer__induction {
  width: 100%;
  height: 235px;

  .footer__induction__cont {
    width: 1080px;
    height: 230px;
    margin: 0 auto;
    @extend .cf;

    .footer__induction__cont__thumb {
      float: left;
    }

    .footer__induction__cont__body {
      float: right;
      width: 700px;
    }
  }
}

.footer__nav {
  width: 1080px;
  margin: 0 auto;
  padding: 25px 30px 25px 25px;

  .footer__nav__body {
    @extend .cf;

    .footer__nav__body__left {
      float: left;
      width: 560px;

      .footer__nav__body__left__list {
        list-style: none;
        @extend .cf;
      }
    }

    .footer__nav__body__right {
      float: left;
      width: 520px;

      .footer__nav__body__right__list {
        list-style: none;
        @extend .cf;
      }
    }
  }
}

.footer {
  .footer__left {
    float: left;
  }

  .footer__copy {
    float: left;
  }
}

/*
  component
*/

.verticalCenter {
  display: table-cell;
  vertical-align: middle;
}

.articleTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

.subTitle {
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px black;
  margin: 0;
  padding: 32px 0 10px;
}

.listItemFrame {
  border-bottom: solid 1px rgb(230, 230, 230);
}

.whiteText {
  color: white;
}

.imageFilter {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.67));
}

.grayText {
  font-size: 13px;
  color: rgb(130, 130, 130);
}

.areaLink {
  font-size: 14px;
}

.tagLink {
  font-size: 14px;
}

.rankTitle {
  font-size: 14px;
}

.featureTitle {
  font-size: 14px;
}

.featureLink {
  font-size: 14px;
}

.recommendTitle {
  font-size: 14px;
}

.glayBack {
  background-color: #F9F9F9;
}

.footerNavLeftListItem {
  float: left;
  font-size: 12px;
  padding-left: 20px;
}

.footerNavLeftRightItem {
  width: 33.3%;
  float: left;
  font-size: 12px;
}

.footerNavTitle {
  font-size: 13px;
}

/* For modern browsers */
.cf:after {
    content:"";
    display:block;
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
